
.gradle/4.9/fileChanges/last-build.bin
.gradle/4.9/fileContent/annotation-processors.bin
.gradle/4.9/fileContent/fileContent.lock
.gradle/4.9/fileHashes/fileHashes.bin
.gradle/4.9/fileHashes/fileHashes.lock
.gradle/4.9/fileHashes/resourceHashesCache.bin
.gradle/4.9/taskHistory/taskHistory.bin
.gradle/4.9/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcsWorkingDirs/gc.properties
